<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App | Calendars</title>
    <%- include('header');%>
</head>
<body>
    <%- include('navbar');%>
    <div class="container">
        <div class="page-header jumbotron">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a href="/create-calendar" class="btn btn-sq btn-secondary">
                        <i class="fa fa-5x fa-calendar-plus-o"></i><br/><br/>
                        Create Calendar
                    </a>
                </div>
            </div>
            <h2>My Calendars</h2>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Group ID</th>
                    <th>Calendar ID</th>
                    <th>Calendar Name</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<calendars.length; i++){ %>
                <tr>
                    <td><%= calendars[i].groupID %></td>
                    <td><a href="/calendar?id=<%= calendars[i].calID%>" id="<%= calendars[i].calID%>"><%= calendars[i].calID%></a></td>
                    <td><%= calendars[i].name %></td>
                </tr>
            <%}%>
            </tbody>
        </table>
    </div>
</body>
</html>